
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <title>Login Page</title>
</head>

<body>

    <div class="login-container">
        <form id="loginForm" action="/login" method="post">
            <h2 class="center">Login</h2>
            <label for="username" class="label1">Username:</label>
            <input type="text" id="username" name="username" required style="height: 20px; margin: 10px;">
    
            <label for="password" class="label1">Password:</label>
            <input type="password" id="password" name="password" required style="height: 20px; margin: 10px;">
    
            <button type="submit">Login</button>
    
            {% if message %}
            <p class="error-message" id="error-message">{{ message }}</p>
            {% endif %}
        </form>
    </div>

</body>

</html>
